<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
</head>
<body>
    <h1>Clientes</h1>
    <p>
        <div>
            {% for cliente in clientes %}
                <span>
                    <h3>{{ cliente.nome }}</h3>
                    {% for empreendimento in empreendimentos %}
                        {{empreendimento.ID_C}}
                    {% endfor %}
                </span>
            {% endfor %}
            {% for empreendedor in cliente_0 %}
            {{empreendedor.ID_C}}
            {% endfor%}
        </div>
    </p>
</body>
</html>